# Loading the data from pandas to postgresql

In [1]:
pwd

'C:\\Users\\Deepu\\Documents\\SQL files'

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 08CB-6401

 Directory of C:\Users\Deepu\Documents\SQL files

12-01-2024  17:17    <DIR>          .
12-01-2024  17:17    <DIR>          ..
12-01-2024  13:09    <DIR>          .ipynb_checkpoints
12-01-2024  11:54    <DIR>          data
12-01-2024  17:17            10,337 data loading from pandas to sql .ipynb
12-01-2024  11:54    <DIR>          scripts
               1 File(s)         10,337 bytes
               5 Dir(s)  54,716,362,752 bytes free

In [3]:
cd data

C:\Users\Deepu\Documents\SQL files\data

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 08CB-6401

 Directory of C:\Users\Deepu\Documents\SQL files\data

12-01-2024  11:54    <DIR>          .
12-01-2024  11:54    <DIR>          ..
12-01-2024  11:51         6,681,482 archive (5).zip
05-10-2023  12:56            29,378 artist.csv
05-10-2023  12:56             8,243 canvas_size.csv
05-10-2023  12:56        10,398,545 image_link.csv
05-10-2023  12:56             6,705 museum.csv
05-10-2023  12:56            10,615 museum_hours.csv
05-10-2023  12:56         2,228,927 product_size.csv
05-10-2023  12:56           122,153 subject.csv
05-10-2023  12:56           737,152 work.csv
               9 File(s)     20,223,200 bytes
               2 Dir(s)  54,716,362,752 bytes free

In [5]:
import pandas as pd

In [6]:
from sqlalchemy import create_engine

# name_of_the_database://user_name:password@server/database_name'
connection_string = 'postgresql://postgres:password@localhost/paintings' # replace password with actual password

#create engine
db = create_engine(connection_string)

#connect engine
connection = db.connect()

In [7]:
# let's see if it works
df = pd.read_csv('artist.csv')
df.to_sql('artist',con = connection,if_exists = 'replace',index = False)

421

In [7]:
import glob

In [9]:
files_list = glob.glob('*.csv')
for file in files_list:
    print(file)

artist.csv
canvas_size.csv
image_link.csv
museum.csv
museum_hours.csv
product_size.csv
subject.csv
work.csv

In [11]:
# let's run a loop and load all the file into data frame and then to posgresql 
for file in files_list:
    df = pd.read_csv(file)
    df.to_sql(file[:-4:], con = connection, index=False, if_exists='replace')

# The data has been successfully loaded to postgresql
# now let's movie on to sql to analyse data